nav {
 margin-right: 5%;
 width: 300px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}


.navLink {
  font-size: 1em;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}
