nav {
 margin-right: 5%;
 width: 300px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}


.navLink {
  font-size: 1.2em;
  /* font-weight: bold; */
  color: #F6F9FC;
}

.navLink:hover {
  text-decoration: underline;
}
