#post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
}

input.post-title {
    width: 30%;
    padding: 1.3%;
    padding-left: 2%;
    border: .5px solid lightgray;
    border-radius: 24px;
    font-size: 1em;
    font-family: raleway, sans-serif;

}

.writePostDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.writePost {
    width: 75%;
    padding: 1%;
    padding-left: 2%;
    border: .5px solid lightgray;
    border-radius: 24px;
    font-size: 1em;
    font-family: raleway, sans-serif;
}


.createPostPage {
   margin-top: 10%;

}

.writePostSection {
    border: none;
    background-color: rgb(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
    width: 670px;
    margin-bottom: 4%;
    /* width: 100%; */
} 

.postButton {
    background-color: #8850f7;
    /* background-color:#B48FFF */
    border: 1.5px solid #8850f7;
    color: #FFFEFC;
    margin-top: 4%;
    margin-left: 4%;
    padding: .5em 1.6em;
    border-radius: 24px;
    font-size: 1em;
    cursor: pointer;
    font-family: raleway, sans-serif;
}

.postButton:hover {
    /* border: 1.5px solid #8850f7; */
    background-color: white;
    color: #8850f7;
}



#bad-words-warning {
    padding-top: 2%;
    padding-left: 2%;
}

/* ------------------------------ media queries ----------------------------- */
@media only screen and (min-width: 768px) {

    .col-md-5{
        min-width: 500px !important;
        
    }

}

@media only screen and (max-width: 1214px) {
    .col-md-7 {
        min-width: 100% !important;
        margin-left: 15px !important;
    }

    #cardplacement {
        top: -132px !important;
    }

    #postsplacement {
        margin-top: -150px !important;
    }

    .col-md-5 {
        min-width: 100% !important;
    }
}