* {
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------- LOGIN BUTTON ------------------------- */
.loginButton {
    opacity: 0;
}

/* ------------------------- SIGNUP BUTTON ------------------------- */
.signUpButton {
    animation: fade-in-up ease 0.4s forwards;  
    animation-delay: .2s;
    color: #4A4A4A;
    opacity: 0;
  }

a {
    color: #4A4A4A;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: normal;
}

/* ------------------------- TEXT ANIMATION ------------------------- */
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

/* ------------------------- FADE-IN-UP ANIMATION ------------------------- */  
@keyframes fade-in-up {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

/* ------------------------- ABOUT ------------------------- */
.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
}

/* .debateText {
    text-align: center;
    color: #4A4A4A;
    opacity: 0;
    animation: fade-in-up ease 0.4s forwards;  
    animation-delay: 1.3s;
    font-size: 22px;
    line-height: 2.7;
    padding-top: 5%;
} */

.about {
    text-align: center;
    color: #4A4A4A;
    opacity: 0;
    animation: fade-in-up ease 0.4s forwards;  
    animation-delay: .2s;
    font-size: 18px;
    line-height: 1.7;
    width: 100%;
}
        
/* LOGGED IN VIEW */

#loggedInView {
    display: flex;
    flex-direction: column;
}

#loggedIn-profile-view {
    font-size: 25px;
}

#loggedIn-profile-view a:hover{
    color: #99e2f8;
    transition: 0.2s ease-in;
}

.welcomeText {
    margin-top: 4%;
    margin-left: 17%;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
    color: #808080;
	font-size: 1.5em;
    font-weight: 300;
    width: 100%;
    opacity: 0;
}

.postsSectionHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discussion-post{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255, .3);
    opacity:0;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
    width: 64%;
}

.discussion-post:last-child {
    margin-bottom: 10%;
}

.postDateCreated {
    color: gray !important;
    font-size: 1em !important;
    /* margin-bottom: 10%; */
    /* margin-left: 1%; */
}

/* .discussion-post h3{
    color: white !important;
    border-radius: 10px;
} */

.discussion-post p {
    padding-top: 0%;
    padding-bottom: 0%;
    color: #444446;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.likesBanMeterDiv {
    display: flex;
    margin-top: 2%;
}

#username-post {
    color: #444446;
    font-size: 1em;
    margin:0;
    padding: 0;
    /* font-weight: 400; */
    /* height: 50% */
}

#userTitle-post a {
    display: flex;
    flex-direction:row;
    color: gray;
    margin: 0%;
    padding: 0%;
    font-size: 1em;
    font-weight: 300;
}

#userTitle-post:hover {
    text-decoration: underline;
}

.titleAndPost {
    display: flex;
    flex-direction: column;
    margin-left: 7.4%;
}

#likes-dislikes {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items:center;
    color: #89898A;
    padding-bottom: 1%;
    margin-left: 5%;
}


.voteBtn {
    font-size: 1em;
    border: none;
    border-radius: 50%;
    margin-right: 1%;
    padding: 1.2%;
    background: white;
    color: #89898A;
    display:flex;
    cursor: pointer;
}

.avatarNameDateContainer { 
display: flex;
flex-direction: row;
align-items: center;
}

.accordion-header {
    border: none;
}

.avatarContainer {
    font-size: 20px;
    height: 25px;
    width: 27px;
    border-radius: 50%;
    background-image: linear-gradient(#A3A9B6, #868B95);
    color: white;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nameDateContainer {
    display: flex;
    flex-direction: row;
    margin-left: 1.7%;
    width: 100%;
    height: 50%;
}

.dot {
    font-size: .85em;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postAndLikes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#postText {
    width: 85%;
    margin-right: 5%;
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */
@media only screen and (max-width: 600px) {
    #logo {
      /* flex-direction: column; */
      /* width: 400%; */
      /* align-items: center; */
      padding-top: .5%;
      padding-bottom: 2%;
    }

    .about {
        width: 100%;
    }
}

@media only screen and (max-width: 715px) {
    #logo {
     margin-left: 4%;
    }

    .about {
        width: 60%;
    }
}
@media only screen and (max-width: 560px) {
    #logo {
      display: flex;
      flex-direction: row;
      justify-content: center; 
      align-items: center;
      margin-left: 2%;
      padding-top: 1%;
      padding-bottom: 2%;
    }

    .about {
        width: 60%;
    }
}