.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* animation: fadeinup ease 0.4s forwards;  
    opacity: 0; */
}

.nameAndFriends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1%;
    animation: fadeinup ease 0.4s forwards;  
    opacity: 0;
    animation-delay: .2s;
}

.profileFriendAvatar {
    display: flex;
    flex-direction: row;
}

.friends {
	font-size: 1.2em;
    margin-right: 76%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    color: #808080;
    font-weight: 400;
    letter-spacing: .02em;

}

.profilePostAndLikes {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: gray;
    margin-top: 2%;
}

.profileName {
    margin-left: 12.23%;
    margin-top: 2%;
    animation-delay: .2s;
    color: #808080;
	font-size: 1.75em;
    font-weight: 300;
    /* opacity: 0; */
}


.postsAndFriends {
    display: flex;
    flex-direction: row;
}

.profTitlePost {
    margin-left: 8%;
}

.postsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    text-align: center;
}

.profile-discussion-post {
    /* margin-left: 8%; */
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255, .3);
    opacity:0;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 4%;
    padding: 4%;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
    width: 110%;
}

.profile-discussion-post:last-child {
    margin-bottom: 10%;
}

.friendIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}

.friendsText {
    font-size: 1.5em;
    color: gray;
}

.profileAvatarContainer {
    font-size: 20px;
    height: 25px;
    width: 27px;
    border-radius: 50%;
    background-image: linear-gradient(#A3A9B6, #868B95);
    color: white;
    padding: 3%;
    margin-right: 2%;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.friendsSection a {
    color: #4A4A4A;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .02em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    line-height: 3em;
}

.friendsSection a:hover{
    color: gray;;
}

.friendsSection {
    flex-basis: 18%;
    height: 50%;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
    line-height: 1.7em;
    opacity: 0;
}

.profileVoteBtn {
    font-size: 1em;
    border: none;
    border-radius: 50%;
    margin-right: 1%;
    padding: 1.5%;
    background: white;
    color: #f599c1;
    display:flex;
    cursor: pointer;
}

/* ----------- MEDIA QUERIES --------- */
@media only screen and (max-width: 700px) {

    #post-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 624px) {
    .writePostSection {
        width: 80%;
    }

    #post-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
