#search-friend-form {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, .3);
  padding: 8%;
}

.searchIconContainer {
  color: rgb(170, 169, 169);
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 24px;
  width: 50%;
}

.searchSection {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
}

.search-friend-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
}

#search-bar {
  padding: 3%;
  /* margin-left: 2%; */
  outline: none !important;
  padding-left: 4%;
  width: 80%;
  font-size: 1em;
  border: none;
  border-radius: 24px;
  color: #4A4A4A;
  /* color: lightgray; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#search-bar::placeholder {
  color: rgb(170, 169, 169);
}

#search-friend-btn {
    background-color: rgb(255, 255, 255);
    color: #4A4A4A;
    border: none;    
    border-radius: 24px;
    margin-left: 2%;
    padding: .55em 2.5em;
    border-radius: 24px;
    font-size: 1em;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#foundFriendContainer {
  background-color: rgb(255, 255, 255, .3);
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 50px;
  margin-top: 4%;
  padding: 2%;
  width: 30%;
}

#foundFriend {
  color: #4A4A4A;
  font-size: 1.2em;
  font-weight: 300;
}

#addFriendBTN {
  background-color: rgb(255, 255, 255);
  color: #4A4A4A;
  border: none;
  /* border: 1.5px solid white; */
  border-radius: 24px;
  margin-left: 2%;
  padding: .55em 2.5em;
  border-radius: 24px;
  font-size: 1em;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
