#search-friend-form {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, .3);
  padding: 8%;
}

.searchIconContainer {
  color: rgb(170, 169, 169);
  display: flex;
  align-items: center;
  border-radius: 24px;
  width: 100%;
}

.searchSection {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: white;
  padding: .5%;
  border-radius: 24px;
  padding-left: 3%;
}

.searchInstructions {
 /* color: #999498; */
 color: #4A4A4A;
 padding-bottom: 4%;
 font-size: 1.1em;
}

.search-friend-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
  opacity: 0;
}

#search-bar {
  padding: 1.5%;
  margin-left: 2%;
  outline: none !important;
  /* padding-left: 4%; */
  width: 100%;
  font-size: 1em;
  border: none;
  border-radius: 24px;
  color: #4A4A4A;
  /* color: lightgray; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#search-bar::placeholder {
  color: rgb(170, 169, 169);
}

#search-friend-btn {
  background-color: transparent;
  color: #999498;
  font-weight: 300;
  border: 1.5px solid #dad9d9;
  border-radius: 24px;
  padding: .38em 2em;
  margin-right: .2%;
  font-size: 1em;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #search-friend-btn:hover {
    background-color:#dad9d9;
    color: white;
  }



.searchWarning {
 max-width: 80%;
 margin-top: 3%;
 line-height: 1.3em;
  color: #4A4A4A;
}


#foundFriendContainer {
  background-color: rgb(255, 255, 255, .3);
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 50px;
  margin-top: 4%;
  padding: 2%;
  width: 30%;
}

#foundFriend {
  color: #4A4A4A;
  font-size: 1.2em;
  font-weight: 300;
}

#addFriendBTN {
  background-color: white;
  color: #999498;
  font-weight: 300;
  border: none;
  border-radius: 24px;
  padding: .5em 1.7em;
  font-size: 1em;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
