#single-post-page{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
    margin-top: 4%;
    /* padding: 2%; */
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.nameDateDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: gray;
}

#single-post-date {
    margin-bottom: 2%;
}

#single-post-userTitle-post {
    display: flex;
    margin: 0;
    font-size: 1.5em;
}

input#postText {
    text-align: left;
    margin-left: -1%;
    /* background-color: orange; */
    /* border: 1.5px solid rgb(170, 169, 169); */
    border: none;
    outline: none;
    width: 85%;
    
}

p#postText {
     line-height: 1.3em;
     text-align: left;
     color: #444446;

}

.singlePagetitleAndPost {
    padding-left: 6.7%;
}

.singleUsernameDate{
    margin-left: 2%;
}


.comments-container {
    background-color: rgb(255, 255, 255, .3);
    color: #4A4A4A;
    border-radius: 24px;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom:2%;
    margin-bottom: 2%;
}

#comment-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .25%;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    width: 72%;
    margin-left: 5%;
    margin-right: 5%;

}

#Comment {
    background-color: transparent;
    color: #999498;
    font-weight: 300;
    border: 1.5px solid #dad9d9;
    border-radius: 24px;
    padding: .35em 1em;
    margin-right: -1.5%;
    font-size: 1em;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.commentSection {
    margin-top: 2%;
}

.commentUsername, 
.commentUsername {
    color: #818181;
}

#commentBody {
    width: 77.75%;
    padding: 1%;
    padding-left: 2%;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    padding: 1.5%;
    padding-left: 3.2%;
}

#commentBody::placeholder {
    color: rgb(170, 169, 169);}

.single-page-discussion-post {
    border-radius: 25px;
    background-color: rgb(255, 255, 255, .3);
    text-align: center;
    padding: 3%;
    color: #4A4A4A;
}

.post-button {
    margin-right: .2%;
    background-color: rgb(255, 255, 255);
    color: #999498;
    padding: .38em 1.5em;
    border: 1.5px solid #dad9d9;
    border-radius: 24px;
    font-size: 1em;
    cursor: pointer;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.post-button:hover {
    background-color: #dad9d9;
    color: white;
}

.voteBtnClickableContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#likesAndCommments {
 display: flex;
 flex-direction: row;
 padding-top: 3%;
}
.voteBtnLikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
}

#commentText {
    width: 71.5%;
    margin-left: 7%;
}

.commentVoteBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    border: none;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background: white;
    color: #f599c1;
    border-radius: 50%;
    cursor: pointer;
}

.commentVoteBtn:hover {
    color: #f877af;
}

.voteBtnClickable {
  font-size: 1em;
  border: none;
  border-radius: 12px;
  padding: 35%;
  margin-left: 1%;
  margin-right: 35%;
  display:flex;
  background: white;
  color: #f599c1;
  border-radius: 50px;
  cursor: pointer;
}

.voteBtnClickable:hover {
    color: #f877af;
}

