#single-post-page{
    
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
    padding: 2%;
}

.nameDateDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: gray !important;
}

#single-post-date {
    margin-bottom: 2%;
}

#single-post-userTitle-post {
    display: flex;
    margin: 0;
    font-size: 2em;
}

#postText {
    text-align: left;
}

.comments-container {
    background-color:#F6F9FC;
    /* background-color:orange; */
    color: #111111;
    border-radius: 25px;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    padding:2%;
    width: 50%;
}

#comment-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.commentSection {
    margin-top: 5%;
}

.commentUsername {
    color: #818181;
}

.commentDate {
    color: #818181;
}

.commentBody {
    margin-top:4%;
    padding-bottom: 4%;
}

#commentBody {
    width: 67%;
    background-color: transparent !important;
    border: none;
    border-bottom: 1.5px solid #111111;
    font-size: 1em;
}

#commentBody:focus {
    outline: none
}

.single-page-discussion-post {
    color: #111111;
    border-radius: 25px;
    background-color: #F6F9FC;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70%;
}

.post-button {
    margin-left: 5%;
    background-color: #111111;
    color: #FFFEFC;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    padding: .4em 3.6em;
}

.post-button:hover {
    background-color: #111111;
    color: white;
}

#single-page-likes-dislikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #111111;
    margin-top: 4%;
    margin-bottom: 2%;
}

/* #single-page-likes-dislikes a {
    margin-right: 10%;
} */

.voteBtnClickable {
  font-size: 2em;
  border: none;
  border-radius: 12px;
  padding: 1%;
  margin-right: 2%;
  /* background-color: #FFFEFC; */
  /* background-color: black; */
  background: transparent;
  color: #111111;
  display:flex;
}

.voteBtnClickable:hover {
    cursor: pointer;
    text-decoration: none;
    color: #0B58CA;
}

.commentLikesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

}