#single-post-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
}

.nameDateDiv {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: space-between;
    justify-content:space-between;
    width: 50%;
    color: gray !important;

}

/* #single-post-date {
    margin-top: 2%;
} */

#single-post-userTitle-post {
    padding: 4%;
    margin: 0;
    font-size: 2em;
}

.comments-container {
    border: 1.5px solid pink;
    border-radius: 25px;
    padding: 4%;
    margin-bottom: 10%;
    width: 100%;
}


#comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#commentBody {
    width: 250%;
    /* font-weight: lighter; */
    background-color: transparent !important;
    border: none;
    border-bottom: 1.5px solid #111111;
    padding-left: 1%;
    margin-top: 20%;
    margin-bottom: 4%;

}

#commentBody:focus {
    outline: none
}

.single-page-discussion-post {
    color: #111111;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    width: 50%;
    text-align: center;
}

.post-button {
    width: 100%;
    background-color: #FFFEFC;
    color: #111111;
    border: 1.5px solid #111111;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20%;
    margin-left: 4%;
    margin-bottom: 50%;
    padding: .4em 1.6em;
}

.post-button:hover {
    background-color: #111111;
    color: white;
}

#single-page-likes-dislikes {
    display: flex;
    color: #111111;
    font-size: 18px;
    margin-bottom: 2%;
}

#single-page-likes-dislikes a {
    margin-right: 10%;
}

.voteBtn {
    padding-right: 1em;
    padding-left: 5px;
}
.voteBtnClickable {
    padding-right: 1em;
    padding-left: 5px;
}
.voteBtnClickable:hover {
    cursor: pointer;
    text-decoration: none;
}