header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 4%;
}

.logo {
    font-size: 1.5em;
    font-family: 'Abril Fatface', sans-serif;
    color: #F6F9FC;

}

.logoutButton {
    background-color: rgb(255, 255, 255, .3);
    color:white;
    border: none;
    border-radius: 24px;
    font-size: 1em;
    padding: .7em 1.5em;
    cursor: pointer;
    font-family: raleway, sans-serif;
}

.logoutButton:hover {
    background-color: #6d33e0;
    color: #FFFEFC;
}

