header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2%;
    color: orange;

}

.logoFont {
    font-family:raleway, sans-serif;
    padding-top: 2%;
    padding-left: 4%;
    color: #111111;
    font-weight: bolder;
    font-size: 1.5em;
}