.landingPageLogo {
  position: absolute;
  left: 4%;
  top: 4%;
  font-size: 5em;
  font-family: abril fatface, serif;
}

.aboutLoginMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 12%;
  padding-left: 15%;
  padding-right: 15%;
}

#login-section {
    display: flex;
    flex-direction: column;
  }

  #login-form {
    background-color: rgb(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 350px;
    height: 410px;
    border-radius: 10px;
  }

  input#email {
    outline: none;
    padding: 2%;
    padding-left: 4%;
    width: 70%;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 1em;
    border: 1.5px solid white;
    border-radius: 24px;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/* input#email:focus {
  border: 1.5px solid hsl(213, 73%, 65%);
} */


  input#password {
    outline: none;
    padding: 2%;
    padding-left: 4%;
    width: 70%;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 1em;
    border: 1.5px solid white;
    border-radius: 24px;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }

  /* input#password:focus {
  border: 1.5px solid hsl(213, 73%, 65%);
  } */

  .login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 
  .login-button {
    margin-top: 5%;
    background-color: rgb(255, 255, 255, .3);
    border: 1.5px solid white;
    border-radius: 24px;  
    padding: .5em 3.5em;
    font-size: 1em;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .login-button:hover {
    border: 1.5px solid white;
    background-color: white;
  }
  
  .signinText {
    font-size: 45px;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
    color: #4A4A4A;
  } 

  .loginLinkText {
    color: #4A4A4A;
    text-align: center;
    font-size: 1em;
    padding-top: 14%;
  }
  
.error {
  font-size: 1em;
  color: #4A4A4A;
}


