.landingPageLogo {
position: absolute;
left: 4%;
top: 4%;
font-size: 1.5em;

}

.aboutLoginMain {
  display: flex;
  justify-content:center;
  align-items:center;
  padding:15%;
}

#login-section {
    display: flex;
    flex-direction: column;
  }

  #login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid black;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    /* margin-top: 100%; */
    /* margin-bottom: 60%; */
  }

  input#email {
  width: 78%;
  justify-content: center;
  margin-bottom: 5%;
  border: none;
  border-bottom: 1.5px solid black;
  background-color: transparent !important;
  font-size: 1em;
  }

  input#email:focus {
    outline:none;
  }

  input#password {
    width: 78%;
    margin-bottom: 15%;
    border: none;
    border-bottom: 1.5px solid black;
    background-color: transparent !important;
  }

  input#password:focus {
    outline: none;
  }

  .login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 
  .login-button {
    width: 50%;
    height: 35px;
    background: transparent;
    border: 1.5px solid black;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    color: black;
  }
  
  .login-button:hover {
    background-color: white;
    color: transparent;
    color: #956FC7;
  }
  
  .signinText {
    font-size: 45px;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
    color: black;
  } 

  .loginLinkText {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 14%;
  }
  
.error {
  margin-top: -8%;
  padding-bottom: 5%;
  font-size: 16px;
  color: rgb(0, 0, 0);
}


